.ge-lyrics {
  position: relative;
  font-family: inherit;
  margin: 1rem auto 0;
}

.ge-lyrics .ge-anchor .ge-anchor-chordname {
  position: absolute;
  top: -1rem;
}

.ge-error-chord {
  background-color: crimson;
  color: aliceblue;
}

.ge-error-chord::after {
  content: "_";
}

.ge-error-chord::before {
  content: "_";
}
