.ge-lyrics {
  margin-bottom: 0;
  white-space: pre-wrap;
}

.ge-lyrics span {
  display: inline-block;
}

.ge-lyrics .ge-anchor .ge-anchor-chordname {
  position: relative;
  font-weight: 510;
  color: indianred;
}

.ge-lyrics .ge-test {
  display: none;
}
/*.ge-lyrics .ge-anchor-chordimg:hover ~ .ge-test*/
/*.ge-lyrics .ge-anchor-chordimg:hover + .ge-test*/
.ge-lyrics .ge-anchor-chordimg:hover > .ge-test {
  display: block;
  position: absolute;
}


